.radio-input {
  border: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
  font-size: 1.4rem;
  width: 30rem;
  border: 1px solid var(--color-input-outline);
  color: var(--color-black);
  border-radius: var(--style-border-radius);

  &:active,
  &:focus,
  &:hover {
    outline: none;
    border: 1px solid var(--color-orange-dark);
  }
}
