.might-like-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  height: 100%;
  justify-content: space-between;

  &__image {
    width: 90%;
  }

  &__header {
    @media (max-width: 800px) {
      font-size: 1.8rem;
    }
  }
}
